.container {
  margin-left: 80px;
}
img {
  max-width: 100%;
}
.article {
  width: 250px;
  border: thick solid #fff;
  background-color: #fff;
  text-align: center;
  border-radius: 2rem;
}
.article > img {
  box-shadow: #000;
  object-fit: scale-down;
  object-position: left, top;
  height: 200px;
  background: transparent;
}
.grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
}

.button{
  width: 8rem;
  padding:0.5rem;
  background-color:rgba(69, 101, 219, 0.829);
  border: 0;
  border-radius: 2rem;
  color: #fff;
  
}
.prueba {
   transform: scale(1.5,1.5);
}
.spinner{
 text-align: center;
}