@use "../../styles/mixins" as mixin;

img {
  max-width: 100%;
  height: auto;
}
.article {
  height: 350px;
  border: thick solid #fff;
  background-color: #fff;
  text-align: center;
  border-radius: 2rem;
  transition: transform 300ms ease-in-out 100ms;
  @include mixin.Flex($fd: column);
  margin-top: 3rem;
}
.article:hover {
  /* transform: translate(-20px,-15px);*/
  transform: scale(0.9);
  /*border-bottom: thick solid salmon;*/
}
.article p {
  font-size: 1.3vw;
}
.article > img {
  width: 80%;
  height: 70%;
  box-shadow: #000;
  object-fit: contain;
  object-position: center center;
}

/* .grid {
  display: flex;
  flex-flow: row wrap;
}
.grid > * {
 flex: 1 1 200px;
} */

.link {
  width: 10vw;
  font-size: 1.4vw;
  padding: 0.5rem;
  background-color: rgba(69, 101, 219, 0.829);
  border: 0;
  border-radius: 2rem;
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 30em) {
  .article {
    margin-top: 0.2rem;
  }
}
