:root {
  --black-a08: rgba(0, 0, 0, 0.08);
  --color-border-faint: var(--black-a08);
  --elevation-lined: 0px 0px 10px 1px var(--color-border-faint);
  --elevation-raised: var(--elevation-lined), 0px 4px 9px;
}

.navbar {
  padding: 10px 0;
  width: 100%;
  background-color: rgb(109, 161, 238);
  box-shadow: var(--elevation-raised);
  line-height: 3rem;
  border: none;
}
.navbar__menuhamburger {
  transform: translate(-100%, 0);
}
.navbar__menuright {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 25%;
  background-color: #000;
  z-index: 999;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease-in-out linear;
}
.navbar__close {
  position: relative;
}
.navbar__closeimg {
  position: absolute;
  height: 1rem;
  width: 1rem;
  top: 5px;
  right: 10px;
  color: #fff;
  border: none;
  
}

.navbar__menurightul > li {
  list-style: none;
}

.container {
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.navbar__top {
  display: flex;
  justify-content: space-between;
}
.navbar_input {
  padding: 15px;
  border: 0;
  border-radius: 2rem;
  width: 30vw;
  font-size: 1rem;
  font-weight: bold;
  outline: 0;
}

.navbar__img {
  height: 100%;
  width: 100%;
  margin-top: 10px;
}
.navbar__ammout {
  position: absolute;
  margin: 0;
  top: 2px;
  width: 1rem;
  background-color: red;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 50%;
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
}
.navbar__button {
  padding: 0;
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: 0;
  margin-top: 5px;
}
.navbar__inputbutton__search {
  width: 4rem;
  padding: 10px;
  text-align: center;
  border: 0;
  color: #fff;
  border-radius: 4rem;
  background-color: rgb(228, 96, 20);
  font-size: 1rem;
  font-weight: bold;
}
.navbar__menulogin {
  width: 4rem;
  padding: 0;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 4rem;
  background-color: rgb(228, 96, 20);
  font-size: 1rem;
  font-weight: bold;
}

.list {
  text-decoration: none;
}
