:root{
  --black-a08: rgba(0,0,0,0.08);
  --color-border-faint: var(--black-a08);
  --elevation-lined: 0px 0px 10px 1px var(--color-border-faint);
  --elevation-raised: var(--elevation-lined),0px 4px 9px
}

.navbar {
  position: fixed;
  top: 0;
  padding: 0.5rem;
  height: 3rem;
  width: 100%;
  z-index: 999;
  background-color: rgb(109, 161, 238);
  box-shadow: var(--elevation-raised);
  line-height: 3rem;
  border: none;
}
.list {
 text-decoration: none;
}